.match-selection-list {
  .match-info {

  }

  .selection-item {
    display: flex;
    padding: 0.5em;
    border: 1px solid #aeb4e7;
    margin: 2px;
    border-radius: 3px;

    .description {
      flex: 1;
      margin-top: 0.4em;
    }
  }

  .icon-button-small {
    padding: 0px;
    width: 24px;
    height: 24px;
  }

  .toolbar-button {
    margin-right: 5px;
  }

  .error-section {
    margin-top: 1rem;
  }
}