{
  "presets": [
    "react",
    "env",
    "stage-1"
  ],
  "plugins": [
    "transform-function-bind",
    "transform-object-rest-spread",
    "add-module-exports",
    "react-hot-loader/babel"
  ]
}
