@font-face {
  font-family: 'Roboto';
  src: url('./roboto-v15-latin-regular.eot');
  src: url('./roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('./roboto-v15-latin-regular.woff2') format('woff2'),
       url('./roboto-v15-latin-regular.woff') format('woff'),
       url('./roboto-v15-latin-regular.ttf') format('truetype'),
       url('./roboto-v15-latin-regular.svg#roboto-v15-latin-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
