.signin-user {

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .full-width-control {
    flex-basis: auto;
    margin-bottom: 1.5%;

    span {
      left: 100px;
    }
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    input {
      border-left: 5px solid #a94442; /* red */
    }
  }

  .submission-errors {
    border-radius: 4px;
    padding: 8px;
    color: red;
    margin-top: 10px;
    background: pink;

    &.visible {
      opacity: 1;
    }

    &.hidden {
      opacity: 0;
    }
  }
}